html {
    font-size: 18px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgb(228, 209, 180);
}

h1 {
    text-align: center;
}

section {
    padding: 0 100px;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

div {
    display: inline-block;
}

div img {
    max-width: 450px;
}

.social-media {
    margin-left: 120px;
}

h3 {
    text-align: center;
}



.font-size a {
    font-size: 1.5rem;
}

a {
    color: rgb(186, 140, 54);
    text-decoration: none;
}

ul {
    list-style-type: none;
    font-size: 1.7rem;
}